<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishUrl>\\10.10.40.98\천안공장\25. 생산 Inform 자료\주언\CleanPotalDeploy\</PublishUrl>
    <InstallUrl>\\10.10.40.98\천안공장\25. 생산 Inform 자료\주언\CleanPotalDeploy\</InstallUrl>
    <InstallFrom>Unc</InstallFrom>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateUrl>\\10.10.40.98\천안공장\25. 생산 Inform 자료\주언\CleanPotalDeploy\</UpdateUrl>
    <ApplicationRevision>102</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <MinimumRequiredVersion>1.0.0.97</MinimumRequiredVersion>
    <UseApplicationTrust>false</UseApplicationTrust>
    <BootstrapperEnabled>False</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <TargetFramework>net8.0-windows</TargetFramework>
    <SelfContained>False</SelfContained>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <MapFileExtensions>true</MapFileExtensions>
    <GenerateManifests>true</GenerateManifests>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <Install>True</Install>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <PublishDir>bin\Release\net8.0-windows\app.publish\</PublishDir>
    <SignatureAlgorithm>(없음)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <UpdateRequired>True</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <History>True|2026-08-26T06:18:56.0835669Z||;True|2026-08-13T15:02:03.9808946+09:00||;True|2026-07-21T15:36:59.4314284+09:00||;</History>
  </PropertyGroup>
</Project>